{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:import/recommended",
    "next/core-web-vitals",
    "plugin:tailwindcss/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "react"],
  "rules": {
    "linebreak-style": ["error", "unix"],
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_"
      }
    ],
    "quotes": ["error", "single"],
    "semi": ["error", "never"],
    "tailwindcss/no-custom-classname": [
      "warn",
      {
        "whitelist": [
          "pi",
          "pi-heart",
          "p-input-icon-left",
          "pi-search",
          "pi-times",
          "pi-align-justify"
        ]
      }
    ]
  }
}
